:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ocean-blue: #3B7AF0;
  --light-green: #53ca55;

  --light-gray: #FEFAFA;
  --gray: #F8F8F8;
  --dark-gray: #7f7f7f;

  --grid-line: #BDBDBD;

  /* Shop Colors */
  --shop-header-color: #FFE7DD;
  --shop-signin-color: #E3E3E3;
  --shop-register-color: #2C2C2C;

  /* Admin Colors */
  --admin-edit-color: #3BC0F0; /* edit button */
  --admin-paging-color: #436FFF; /*curent page*/
  --admin-header-color: #46AEEF; /* header */
  --admin-header-current-tab-color: #2e97d8; /* header */

  /* Common Colors */
  --color-white: #FFFFFF;
  --color-red: #E13737; /* Delete, block */
  --color-black: #000000;
  --color-gray: #737373; /* Faded text, search text */
  --color-yellow: #EEC13A; /* adminTab */
  --color-blue: #436FFF; /* PaginationText */

  /* Backgrounds */
  --background-gray: #F5F5F5;
  --background-white: #FFFFFF;
}

