:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ocean-blue: #3B7AF0;
  --sky-blue: #3BC0F0;

  --light-red: #DC7A7A;

  --light-gray: #FEFAFA;
  --gray: #F8F8F8;
  --dark-gray: #7f7f7f;
}

